!.env
.DS_Store
.env.*.local
.env.local
/.pnpm-store
/.svelte-kit
/build
/dist
/node_modules
/package
/storybook-static
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
